.container {
  text-align: left;
}

.container p {
  margin-bottom: 20px;
  line-height: 1.75em;
  color: #fff;
}

@media (max-width: 1181px) {
  .container p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.75em;
    color: #fff;
  }
}
