.container {
    text-align: left;
    color: #9cc3eb;
}

.experience-section {
    display: flex;
    justify-content: space-between;
    padding: 25px 8px;
    margin-bottom: 14px;
    transition: ease-in 0.5s;
}

.experience-section h5 {
    color: #eaf5ff;
    font-size: 16px;
    transition: ease-in 0.5s;;
}

.experience-section:hover {
    background-color: rgba(255, 255, 255, 0.045);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.experience-section:hover h5 {
    color: #16f4fd;
}

.vertical-line {
    border-left: 2px solid #64748b;
    height: 200px;
    position: absolute;
    left: 33%;
    margin-top: 10px;
}

.vertical-line-2 {
    border-left: 2px solid #64748b;
    height: 245px;
    position: absolute;
    left: 33%;
    margin-top: 10px;
}

.vertical-line-3 {
    border-left: 2px solid #64748b;
    height: 220px;
    position: absolute;
    left: 33%;
    margin-top: 10px;
}

.horizontal-line {
    border-bottom: 2px solid #64748b;
    width: 12px;
    position:absolute;
    top:50%;
    left:24%;
}

.horizontal-line-2 {
    border-bottom: 2px solid #64748b;
    width: 12px;
    position:absolute;
    top:50%;
    left:24%;
}

.yr-section {
    position: relative;
    width: 450px;
    margin-right: 10px;
}

.yr-section span {
    font-size: 12px;
    font-weight: 600;
    color: #64748b;
}

.yr-2 {
    margin-left: 20px;
}

.yr-text {
    position:relative;
}

.txt-section {
    margin-left: 60px;
}

.txt-section p {
    margin-top: 37px;
}

.posts {
    margin-top: 4px;
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.txt-section span {
    color: #bfc2c4;
    font-size: 14px;
    font-weight: 550;
}

.lng-section {
    margin-top: 18px;
}

.lng-section span {
    background-color: rgba(22,244,253,0.085);
    margin-right: 4px;
    padding: 6px 12px;
    border: none;
    border-radius: 16px;
    font-size: 13px;
    color: rgb(0, 242, 250);
}