.nav-section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.links {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.horizontal-line {
    width: 100px;
    border-bottom: 2px solid #64748b;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.horizontal-line.active {
    border-bottom-color: #16f4fd;
}

.nav-link {
    color: #64748b;
    font-weight: 650;
    font-size: 13px;
    letter-spacing: 0.125em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link.active {
    color: #16f4fd;
}

.nav-link:hover {
    color: #e2e8f0;
}